In [65]:
import pandas as pd
import numpy as np

po = pd.read_csv("loan.csv", encoding = "ANSI")
po

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.00000,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.00000,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.00000,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.00000,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.00000,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
5,1075269,1311441,5000,5000,5000.00000,36 months,7.90%,156.46,A,A4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
6,1069639,1304742,7000,7000,7000.00000,60 months,15.96%,170.08,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
7,1072053,1288686,3000,3000,3000.00000,36 months,18.64%,109.43,E,E1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
8,1071795,1306957,5600,5600,5600.00000,60 months,21.28%,152.39,F,F2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
9,1071570,1306721,5375,5375,5350.00000,60 months,12.69%,121.45,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
10,1070078,1305201,6500,6500,6500.00000,60 months,14.65%,153.45,C,C3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
11,1069908,1305008,12000,12000,12000.00000,36 months,12.69%,402.54,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
12,1064687,1298717,9000,9000,9000.00000,36 months,13.49%,305.38,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
13,1069866,1304956,3000,3000,3000.00000,36 months,9.91%,96.68,B,B1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
14,1069057,1303503,10000,10000,10000.00000,36 months,10.65%,325.74,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
15,1069759,1304871,1000,1000,1000.00000,36 months,16.29%,35.31,D,D1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
16,1065775,1299699,10000,10000,10000.00000,36 months,15.27%,347.98,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
17,1069971,1304884,3600,3600,3600.00000,36 months,6.03%,109.57,A,A1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
18,1062474,1294539,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
19,1069742,1304855,9200,9200,9200.00000,36 months,6.03%,280.01,A,A1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
20,1069740,1284848,20250,20250,19142.16108,60 months,15.27%,484.63,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
21,1039153,1269083,21000,21000,21000.00000,36 months,12.42%,701.73,B,B4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
22,1069710,1304821,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
23,1069700,1304810,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
24,1069559,1304634,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
25,1069697,1273773,15000,15000,15000.00000,36 months,9.91%,483.38,B,B1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
26,1069800,1304679,15000,15000,8725.00000,36 months,14.27%,514.64,C,C2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
27,1069657,1304764,5000,5000,5000.00000,60 months,16.77%,123.65,D,D2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
28,1069799,1304678,4000,4000,4000.00000,36 months,11.71%,132.31,B,B3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
29,1047704,1278806,8500,8500,8500.00000,36 months,11.71%,281.15,B,B3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39687,111307,105982,12000,12000,2500.00000,36 months,12.49%,401.37,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39688,111227,111223,20000,20000,2800.00000,36 months,13.43%,678.08,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39689,109355,109346,1200,1200,0.00000,36 months,11.54%,39.60,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39690,107136,107130,12250,12250,1525.00000,36 months,10.59%,398.69,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39691,106360,106333,2700,2700,550.00000,36 months,15.96%,94.88,F,F4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39692,76597,76583,5000,5000,1775.00000,36 months,9.01%,159.03,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39693,106079,106039,3500,3500,1200.00000,36 months,9.96%,112.87,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39694,90966,90962,5000,5000,4150.00000,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39695,92440,92423,5000,5000,3100.00000,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39696,102376,95212,25000,25000,525.00000,36 months,10.59%,813.65,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39697,101579,100083,10000,10000,400.00000,36 months,10.28%,323.98,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39698,98982,98957,5000,5000,675.00000,36 months,9.01%,159.03,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39699,98339,97572,5100,5100,575.00000,36 months,8.38%,160.72,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39700,98276,98268,5400,5400,200.00000,36 months,7.75%,168.60,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39701,96844,95222,5300,5300,600.00000,36 months,8.38%,167.02,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39702,96350,96338,5000,5000,850.00000,36 months,11.22%,164.23,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39703,94838,73673,3000,3000,2550.00000,36 months,10.28%,97.20,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39704,93277,93254,3000,3000,950.00000,36 months,8.70%,94.98,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39705,93061,93057,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39706,92676,92671,5000,5000,150.00000,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39707,92666,92661,5000,5000,525.00000,36 months,9.33%,159.77,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39708,92552,92542,5000,5000,375.00000,36 months,9.96%,161.25,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39709,92533,92529,5000,5000,675.00000,36 months,11.22%,164.23,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39710,92507,92502,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39711,92402,92390,5000,5000,700.00000,36 months,8.70%,158.30,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39712,92187,92174,2500,2500,1075.00000,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.00000,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.00000,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.00000,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.00000,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
po.info()
po.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

(39717, 111)

In [67]:
po = po.dropna(axis=1, how='all')
po.shape

(39717, 57)

In [68]:
# FILLING NULL VALUES IN REVOL_UTIL WITH 0% SINCE MOST OF REVOL_BAL CORRESPONDING IS 0
po.dtypes
po['revol_util'].tail(20)
po[po['revol_util'].isnull()]
po.loc[po['revol_util'].isnull(), ['revol_util']] = "0%"
po['revol_util'].isnull().sum()

0

In [69]:
#Converting int_rate column from string to float
po.int_rate = po.int_rate.apply(lambda x: x.replace('%',''))
po.int_rate = pd.to_numeric(po.int_rate)

In [70]:
po.revol_util= po.revol_util.apply(lambda x: x.replace('%',''))
po.revol_util = pd.to_numeric(po.revol_util)

In [71]:
po.revol_util

0        83.70
1         9.40
2        98.50
3        21.00
4        53.90
5        28.30
6        85.60
7        87.50
8        32.60
9        36.50
10       20.60
11       67.10
12       91.70
13       43.10
14       55.50
15       81.50
16       70.20
17       16.00
18       37.73
19       23.10
20       85.60
21       90.30
22       82.40
23       91.80
24       29.70
25       93.90
26       57.60
27       59.50
28       37.70
29       59.10
         ...
39687    93.40
39688    74.10
39689    75.80
39690     8.10
39691    92.30
39692    36.60
39693    41.10
39694    19.50
39695     6.80
39696    23.30
39697    54.40
39698    37.60
39699    23.90
39700    16.50
39701    14.40
39702    47.10
39703     0.00
39704     7.80
39705    16.90
39706    26.30
39707    39.20
39708    48.60
39709    16.10
39710     0.60
39711    23.00
39712    13.10
39713    26.90
39714    19.40
39715     0.70
39716    51.50
Name: revol_util, Length: 39717, dtype: float64

In [64]:
po.loc[po.emp_length.isnull(),['emp_title','emp_length','annual_inc']]
po.emp_length = po.emp_length.apply(lambda x: x.replace(" years","") if x.notnull() else x)

AttributeError: 'str' object has no attribute 'notnull'

In [72]:
pochargedoff = po[po.loan_status == "Charged Off"]
pogood = po[po.loan_status == "Fully Paid"]
pocurrent = po[po.loan_status == "Current"]

In [32]:
import matplotlib.pyplot as plt
import seaborn as sns

# purp = pochargedoff.loc[:,["loan_status","purpose"]]

# plt.figure(figsize=(10, 6))

# plt.hist(po['purpose'])
# # plt.show()

In [79]:
purp1 = pd.DataFrame(pochargedoff.purpose.value_counts())
purp1 = purp1.reset_index()
# plt.figure(figsize=(20, 6))
# sns.barplot(x = 'index',y='purpose',data=purp1)
# plt.show
# pochargedoff.purpose.value_counts()
purp1

                 index  purpose
0   debt_consolidation     2767
1                other      633
2          credit_card      542
3       small_business      475
4     home_improvement      347
5       major_purchase      222
6                  car      160
7              medical      106
8              wedding       96
9               moving       92
10               house       59
11         educational       56
12            vacation       53
13    renewable_energy       19

In [124]:
purp4 = pd.DataFrame(pochargedoff.grade.value_counts())
purp4 = purp4.reset_index()

In [34]:
pochargedoff.loan_amnt.describe()

count     5627.000000
mean     12104.385108
std       8085.732038
min        900.000000
25%       5600.000000
50%      10000.000000
75%      16500.000000
max      35000.000000
Name: loan_amnt, dtype: float64

In [83]:
pochargedoff.dti.describe()
pochargedoff['dti'].quantile(.95)

23.92

In [84]:
# According to this dataset, dti is not a factor behind loan defaulting
pogood.dti.describe()
pogood['dti'].quantile(.95)

23.77

In [54]:
pogood.loan_amnt.describe()

count    32950.000000
mean     10866.455994
std       7199.629493
min        500.000000
25%       5200.000000
50%       9600.000000
75%      15000.000000
max      35000.000000
Name: loan_amnt, dtype: float64

In [57]:
pogood.installment.describe()

count    32950.000000
mean       320.125232
std        207.081110
min         15.690000
25%        165.282500
50%        275.650000
75%        420.735000
max       1295.210000
Name: installment, dtype: float64

In [58]:
pochargedoff.installment.describe()

count    5627.000000
mean      336.175006
std       217.051841
min        22.790000
25%       168.555000
50%       293.870000
75%       457.840000
max      1305.190000
Name: installment, dtype: float64

In [125]:
# SMALL BUSINESS HAS THE HIGHEST RATE OF DEFAULT

#purp2 = pd.DataFrame(pogood.purpose.value_counts())
# purp2 = purp2.reset_index()
# plt.figure(figsize=(20, 6))
# sns.barplot(x = 'index',y='purpose',data=purp2)
# plt.show()
po1 = pd.DataFrame(pogood.purpose.value_counts())
po1.rename(columns={'purpose':'total'}, inplace=True)
po1 = po1.reset_index()
po1
purpose_frame = pd.merge(purp1, po1, on='index', how='inner')
purpose_frame['percentage'] = round(100*(purpose_frame['purpose']/purpose_frame['total']))
purpose_frame.percentage

NameError: name 'purp1' is not defined

In [126]:
po4 = pd.DataFrame(pogood.grade.value_counts())
po4.rename(columns={'grade':'total'}, inplace=True)
po4 = po4.reset_index()
po4
purpose_frame = pd.merge(purp4, po4, on='index', how='inner')
purpose_frame['percentage'] = round(100*(purpose_frame['grade']/purpose_frame['total']))
purpose_frame.percentage

KeyError: 'grades'

In [110]:
pochargedoff.int_rate.describe()

count    5627.000000
mean       13.820432
std         3.654413
min         5.420000
25%        11.310000
50%        13.610000
75%        16.400000
max        24.400000
Name: int_rate, dtype: float64

In [111]:
pogood.int_rate.describe()

count    32950.000000
mean        11.609761
std          3.599964
min          5.420000
25%          8.490000
50%         11.490000
75%         13.990000
max         24.110000
Name: int_rate, dtype: float64

In [95]:
pochargedoff[pochargedoff['revol_util'] == 0]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
1400,1051591,1282697,8000,8000,8000.000000,36 months,9.91,257.80,B,B1,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1521,1049562,1280778,23000,23000,22975.000000,60 months,19.91,608.21,E,E4,...,NaN,Jul-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1858,1044994,1275383,3000,3000,3000.000000,36 months,16.77,106.62,D,D2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1921,1036033,1265698,5800,5800,5800.000000,60 months,17.58,145.96,D,D4,...,NaN,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2472,1029082,1258445,9750,9750,9750.000000,36 months,17.27,348.93,D,D3,...,NaN,Sep-12,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
2662,1033569,1263136,22000,22000,21475.000000,60 months,11.71,486.16,B,B3,...,NaN,Jul-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3208,1023172,1251991,3500,3500,3500.000000,36 months,16.29,123.56,D,D1,...,NaN,Jan-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4009,1009563,1236313,18000,18000,17975.000000,60 months,15.96,437.35,C,C5,...,NaN,Apr-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4127,1007751,1234402,9000,9000,9000.000000,60 months,18.25,229.77,D,D5,...,NaN,Aug-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4304,1004991,1231451,7000,7000,7000.000000,36 months,7.90,219.04,A,A4,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4346,1004215,1230623,7500,7500,7500.000000,36 months,7.90,234.68,A,A4,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4714,997734,1222858,6100,6100,6100.000000,36 months,14.27,209.29,C,C2,...,NaN,Nov-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4781,996440,1221072,35000,35000,35000.000000,60 months,19.03,908.50,E,E2,...,NaN,Jul-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4910,993768,1218360,12000,12000,12000.000000,36 months,17.27,429.45,D,D3,...,NaN,Aug-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5175,989313,1213275,11000,11000,11000.000000,36 months,11.71,363.84,B,B3,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5305,987770,1211761,5000,5000,5000.000000,36 months,9.91,161.13,B,B1,...,NaN,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5710,980996,1204191,8000,8000,8000.000000,36 months,14.27,274.48,C,C2,...,NaN,Feb-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6389,969613,1190839,12000,12000,11692.335700,36 months,7.90,375.49,A,A4,...,NaN,Dec-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6834,891622,1108421,12000,12000,12000.000000,36 months,16.77,426.47,D,D2,...,NaN,Jan-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6964,889741,1106278,4000,4000,4000.000000,60 months,14.27,93.64,C,C2,...,NaN,Jul-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
7161,886116,1101853,12000,12000,11750.000000,60 months,10.65,258.82,B,B2,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
7872,875005,1089497,12000,12000,12000.000000,60 months,10.59,258.47,B,B2,...,NaN,Feb-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
8279,868012,1056855,4800,4800,4800.000000,60 months,21.74,131.87,F,F5,...,NaN,Apr-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
8648,862933,1076042,21000,21000,21000.000000,36 months,16.49,743.39,D,D3,...,NaN,Nov-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
8909,858390,1070966,3500,3500,3500.000000,36 months,10.99,114.57,B,B3,...,NaN,Oct-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
9163,854240,1066474,3000,3000,3000.000000,36 months,16.89,106.80,D,D4,...,NaN,Nov-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
9961,840315,1050679,14500,14500,14500.000000,36 months,7.49,450.98,A,A4,...,NaN,Apr-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
10193,836646,1046714,35000,35000,35000.000000,60 months,17.99,888.58,E,E1,...,NaN,Apr-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
10412,832861,1042362,2600,2600,2600.000000,36 months,5.99,79.09,A,A2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
10526,831404,1040624,23000,23000,22975.000000,60 months,11.99,511.51,B,B5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33164,472634,596856,7500,7500,7350.000000,36 months,7.05,231.75,A,A1,...,NaN,Apr-11,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
33302,462259,578163,15000,15000,14925.000000,36 months,16.70,532.53,E,E2,...,NaN,Feb-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
33395,467219,587495,1600,1600,1600.000000,36 months,13.57,54.35,C,C3,...,NaN,Nov-10,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
33503,467634,588339,6500,6500,6475.000000,36 months,14.96,225.20,D,D2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
33697,463702,580685,5000,5000,5000.000000,36 months,12.53,167.34,B,B5,...,NaN,Nov-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
34099,457103,568037,5000,5000,4975.000000,36 months,16.35,176.65,E,E1,...,NaN,Jul-10,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
34268,454140,562099,1200,1200,1200.000000,36 months,14.26,41.17,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
34333,453373,560433,2725,2725,2625.000000,36 months,12.18,90.75,B,B4,...,NaN,Nov-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
34634,448884,551142,6000,6000,6000.000000,36 months,16.35,211.98,E,E1,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
34687,447709,548646,23975,23975,23221.930000,36 months,12.53,802.36,B,B5,...,NaN,Feb-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
35051,442205,537007,6200,6200,6152.728699,36 months,19.82,229.86,G,G1,...,NaN,Jan-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
35535,434155,517745,20000,20000,19325.000000,36 months,12.53,669.33,B,B5,...,NaN,Feb-10,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
35745,426526,503310,5000,5000,4949.710000,36 months,16.00,175.79,E,E2,...,NaN,Sep-11,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
35890,427875,505838,8000,8000,7954.170000,36 months,12.84,268.95,C,C2,...,NaN,Nov-11,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
35983,425187,501401,5000,5000,4995.874713,36 months,12.53,167.34,C,C1,...,NaN,May-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
36209,418546,488538,2000,2000,2000.000000,36 months,16.00,70.32,E,E2,...,NaN,Dec-09,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
36612,404321,450622,7600,7600,7600.000000,36 months,12.84,255.50,C,C2,...,NaN,Jan-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
36859,385106,385847,6500,6500,6425.000000,36 months,14.11,222.49,D,D1,...,NaN,Mar-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
36945,390038,424744,9000,9000,7652.680000,36 months,12.53,301.20,C,C1,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
36978,391591,416425,15000,11200,3200.003514,36 months,13.47,379.94,C,C4,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
37911,369400,385154,5000,5000,4250.000000,36 months,18.21,181.30,F,F4,...,NaN,Sep-09,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
37991,367176,380501,10000,10000,1775.002676,36 months,12.21,333.15,B,B5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
38087,364922,375743,12000,12000,6674.991994,36 months,10.20,388.34,B,B1,...,NaN,Jul-10,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
38341,358822,363016,5000,5000,2276.549947,36 months,11.78,165.55,C,C1,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
38457,353677,357409,7500,7500,0.002284,36 months,16.33,264.91,F,F2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
38539,351860,354698,7000,7000,0.000000,36 months,8.00,219.36,A,A3,...,NaN,Dec-10,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
38917,300383,300380,8000,8000,4474.992176,36 months,11.34,263.20,C,C2,...,NaN,Jul-10,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
38970,290803,290796,3000,3000,2199.999665,36 months,11.34,98.70,C,C2,...,NaN,Dec-10,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
39519,171220,170849,20000,20000,310.979002,36 months,11.54,659.91,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,NaN,0.0
39640,127472,127460,2125,2125,550.000000,36 months,15.01,73.68,F,F1,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,NaN,0.0

In [109]:
pogood.revol_util.describe()
#pogood[pogood['revol_util'] == 0]

count    32950.000000
mean        47.482755
std         28.303322
min          0.000000
25%         23.800000
50%         47.500000
75%         70.800000
max         99.900000
Name: revol_util, dtype: float64

In [78]:
pochargedoff.total_acc.describe()

count    5627.000000
mean       21.427581
std        11.447427
min         2.000000
25%        13.000000
50%        20.000000
75%        28.000000
max        74.000000
Name: total_acc, dtype: float64

In [79]:
pogood.total_acc.describe()

count    32950.000000
mean        22.159393
std         11.418927
min          2.000000
25%         14.000000
50%         20.000000
75%         29.000000
max         90.000000
Name: total_acc, dtype: float64

In [81]:
pochargedoff.open_acc.describe()

count    5627.000000
mean        9.178070
std         4.525937
min         2.000000
25%         6.000000
50%         8.000000
75%        12.000000
max        38.000000
Name: open_acc, dtype: float64

In [82]:
pogood.open_acc.describe()

count    32950.000000
mean         9.292049
std          4.379854
min          2.000000
25%          6.000000
50%          9.000000
75%         12.000000
max         44.000000
Name: open_acc, dtype: float64

In [103]:
pochargedoff[pochargedoff.verification_status == "Not Verified"]

(2142, 57)

In [104]:
pogood[pogood.verification_status == "Not Verified"]

(14552, 57)

In [106]:
pogood.pub_rec.sum()

1661

In [122]:
pocurrent.shape
pocurrent.pub_rec.sum()
pocurrent.acc_now_delinq.sum()
pocurrent.chargeoff_within_12_mths.sum()
pocurrent.pub_rec_bankruptcies.sum()
pocurrent.tax_liens.sum()

0.0

In [118]:
pochargedoff[pochargedoff.term == " 60 months"].shape

(2400, 57)

In [123]:
pochargedoff.grade.value_counts()

B    1425
C    1347
D    1118
E     715
A     602
F     319
G     101
Name: grade, dtype: int64